@font-face {
    font-family: 'android';
    src: url(fontes/idroid.otf);
}

* {
    margin: 0px;

}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(119, 230, 148);
    padding: 0px;
    margin: 0px;
}

header {
    background: rgb(29, 85, 49);
    background: linear-gradient(0deg, rgba(29, 85, 49, 1) 33%, rgb(119, 230, 148) 100%);
    color: white;
    text-align: center;
    padding-top: 10px;
    box-shadow: 1px 4px 7px rgba(0, 0, 0, 0.26);
}

header>h1 {
    padding: 10px;
}

main p {
    padding: 25px;
    text-align: justify;
    line-height: 2em;
}

header > p {
    text-align: center;
}

nav {
    margin-top: 10px;
    padding: 5px;
    text-align: left;
}

a {
    color: white;
    text-decoration: none;
    padding-right: 15px;
    font: normal bold 1em Arial;
}

a:hover {
    background-color: white;
    color: rgba(29, 85, 49, 1);
    padding: 5px;
    border-radius: 2px;
}

main {
    background-color: white;
    min-width: 280px;
    max-width: 800px;
    margin: auto;
    padding: 15px;
    box-shadow: 1px 4px 7px rgba(0, 0, 0, 0.26);
    text-indent: 25px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main>h1 {
    font-family: 'android';
    color: rgba(29, 85, 49, 1);
    font-size: 2em;
}

h2 {
    background: linear-gradient(90deg, rgba(59, 204, 98, 0.582) 40%, rgba(255, 255, 255, 0.226) 80%);
    color: rgba(29, 85, 49, 1);
    text-align: left;
}

img {
    width: 95%;
}

img#bug {
    width: auto;
}

div.video {
    background-color: rgba(29, 85, 49, 1);
    margin: 0px -15px 30px -15px;
    padding: 20px;
    padding-bottom: 56%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

#extra {
    background-color: rgb(148, 230, 170);
    margin: 10px;
    border-radius: 15px;
}

aside > ul {
    text-align: left;
    list-style-position: inside;
    list-style-type: '\2714\00A0';
    columns: 2;
}

h3 {
    background-color: rgba(29, 85, 49, 1);
    color: white;
    padding: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

footer {
    background-color: rgba(29, 85, 49, 1);
    color: white;
    margin-top: 10px;
}

footer > p {
    text-align: center;
    padding: 3px;
    font-size: 0.8em;
}